.app-header{
    padding: 15px;
    height: 100%;
    background-color: #bdd7f8
}
.nav-header{
    width: 100%;
    justify-content: space-between;
    /* background-color: #fff; */
}
.nav-list{
    margin-inline-end: 50px;
}
.nav-list > *{
    margin-inline-end: 10px;
}
.nav-list > *:hover{
    /* background-color: rgba(158, 198, 250, 0.637); */
    box-shadow: 2px -1px 3px 1px rgb(106 168 249 / 58%);
}