.flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.space-around {
    justify-content: space-around;
}
.align-center {
    align-items: center;
}
.column {
    flex-direction: column;
}
.clean-list{
    list-style: none;
}
.txt-center {
    text-align: center;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.color-dark{
    color: #05072f;
}