.edit-txt-container input {
    border-radius: .5rem;
    border: unset;
    padding: 10px 110px 10px 12px;
}

.edit-txt-container form {
    line-height: 2rem;
    border-radius: .5rem;
    padding: 5px;
    box-shadow: 0 0px 1px 1px #9e9b9b;
}

.edit-txt-container .btn {
    background-color: inherit;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    padding: 8px;
    transition: .2s;
}

.edit-txt-container .btn:hover {
    background-color: rgb(211 191 191);
}

.edit-txt-container textarea {
    transition: .4s;
}

.active-txt-input {
    padding: 0 40px 40px;
}